.uno {
    cursor: default;

}

.dos {
    cursor: pointer;
}



.tres {
    cursor: pointer;
}



.cuatro {
    cursor: pointer;
}



.cinco {
    cursor: pointer;
}



.seis {
    cursor: pointer;
}

